<html>
<body>
Edit Team
<form action="edit-team" method = "post">
    <input type = "hidden" name="id" value="{{id}}"/>
    <input type = "text" placeholder="Team Name" name = "editName"/>
    <select name = "editSport">
        <option value="Football">Football</option>
        <option value="Baseball">Baseball</option>
        <option value="Basketball">Basketball</option>
        <option value="Hockey">Hockey</option>
        <option value="Quidditch">Quidditch</option>
    </select>
    <input type="text" placeholder="Record" name="editRecord"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>