<html>
<body>
Welcome back <b>{{username}}</b>!
<form action="logout" method = "post">
    <button type="submit">Log Out</button>
</form>

<form action="add-team" method="post">
    <input type="text" placeholder="Team name" name="teamName"/>
    <select name = "sport">
        <option value="Football">Football</option>
        <option value="Baseball">Baseball</option>
        <option value="Basketball">Basketball</option>
        <option value="Hockey">Hockey</option>
        <option value="Quidditch">Quidditch</option>
    </select>
    <input type="text" placeholder="Record" name="record"/>
    <button type="submit">Submit</button>
</form><br><br>

{{#teams}}
{{id}}: {{teamName}} <a href="/edit-teamName?id={{id}}">
    <button>Edit</button>
</a> -
{{sport}} <a href="/edit-teamSport?id={{id}}">
    <button>Edit</button>
</a> -
{{record}} <a href="/edit-teamRecord?id={{id}}">
    <button>Edit</button>
</a> <br>
<a href="/remove-team?id={{id}}">
    <button>Remove</button>
</a>
<br><br>
{{/teams}}
</body>
</html>